# Lecture - 2

# Varaiable & Data Types in Python

# Creatingb a Varible

In [8]:
x = 5
print(x)

5

In [10]:
x = 2322
print(x)

2322

In [16]:
a = 10
b = 2.5
c = "Mohit"

print(type(a))
print(type(b))
print(type(c))
print(a,b,c)

<class 'int'>
<class 'float'>
<class 'str'>
10 2.5 Mohit

In [18]:
y = "we are looking for Python"
print(y)

we are looking for Python

In [20]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
b                      float       2.5
c                      str         Mohit
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000160F13DBEC0>
dataframe_hash         function    <function dataframe_hash at 0x00000160EDECB7E0>
dtypes_str             function    <function dtypes_str at 0x00000160F1433420>
get_dataframes         function    <function get_dataframes at 0x00000160F1433740>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000160F14337E0>
is_data_frame          function    <function is_data_frame at 0x00000160EDFC5EE0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         2322
y                      str         we are looking for Python

In [22]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
b                      float       2.5
c                      str         Mohit
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000160EDFC5EE0>
dataframe_hash         function    <function dataframe_hash at 0x00000160F1433420>
dtypes_str             function    <function dtypes_str at 0x00000160F13DBEC0>
get_dataframes         function    <function get_dataframes at 0x00000160F14336A0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000160EDECB100>
is_data_frame          function    <function is_data_frame at 0x00000160F14337E0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         2322
y                      str         we are looking for Python

In [24]:
apple = 23
print(apple)

23

In [28]:
apple_box= 23
print(apple_box)

23

In [30]:
_ = 5
print(_)

5

In [32]:
_z = 5
print(_z)

5

In [34]:
mnp_ = 2
print(mnp_)

2

# A varible name cannot start with a number

In [41]:
1 = 23
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2060739776.py, line 1)

In [43]:
apple_1 = 12
print(apple_1)

12

In [49]:
age = 23
Age = 25
AGE = 26
aGE = 32

print(age)
print(Age)
print(AGE)
print(aGE)

# in Python Varible name is Case Sensetive

In [56]:
a = 10
b = 2.5
c = "Mohit"

In [58]:
print(a)

10

In [62]:
v = 2+3j
print(v)
print(type(v))

(2+3j)
<class 'complex'>

In [66]:
num = [23,24,25,26]
print(num)
print(type(num))

[23, 24, 25, 26]
<class 'list'>

In [84]:
num1 = True
print(num1)
print(type(num1))

True
<class 'bool'>

In [106]:
# concatenate the string
first_name =  "Mohit"
last_name = 'Kumar'
full_name = first_name+" "+last_name
print(full_name)

Mohit Kumar

In [114]:
x = 5
print(x)
x = 10
print(x)   # reassign the value of the x

5
10

In [116]:
34+87

121

In [122]:
x = 2.56777
y = 6.77
print(x+y)

9.337769999999999

In [131]:
x1 = 2+3j
y1 = 1+5j
print(x1+y1)

(3+8j)

In [133]:
w1 = 23
w2 = -34
print(w1+w2)

-11

In [135]:
num11 = 8
num22 = 5
print(num11 - num22)

3

In [141]:
a = "hello"
b =  "student"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [145]:
a6 = 5+9j
b6 = 3+5j
print(a6-b6)

(2+4j)

In [160]:
2+4j

(2+4j)

str =